.main {
  background-color: var(--primary-color);
  color: var(--text-on-primary-color);

  padding: 0.5rem 2rem;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: var(--text-on-primary-color);
  font-size: 1.5rem;
}

.main ul {
  color: var(--text-on-primary-color);
  display: flex;
  list-style: none;
  gap: 1rem;
}

.link {
  color: var(--text-on-primary-color);
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  font-size: 1.2rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 3px;
}

@media (max-width: 768px) {
}
