.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  min-height: 100vh;
  margin: auto;
  margin-top: 3rem;
}

.main input,
.main button {
  padding: 0.6rem;
}

.main h1 {
  text-align: center;
}

.danger {
  color: rgb(218, 24, 24);
}
