.main {
  background-color: var(--primary-color);
  color: var(--text-on-primary-color);
  padding: 1rem 0;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.main:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
