.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  margin: auto;
  margin-top: 3rem;
}

.main input,
.main button {
  padding: 0.6rem;
}

.main h1 {
  text-align: center;
}
