:root {
  --primary-color: #495057; /* buttons, header */
  --secondary-color: #ced4da;
  --background-color: #f1f3f5;
  --text-color: #212529; /* text */
  --text-on-primary-color: #ffffff;
  --card-color: #ffffff; /* cards */
}

* {
  margin: 0;
  padding: 0;
}
